@import '~/node_modules/bootstrap/dist/css/bootstrap.css';

body{
  background:#257ca1;
}
.container-fluid{
  color:#ffffff;
}

canvas{
  border: 1px solid #000000;
  visibility: hidden;
  position:absolute; 
  top: 120px;
  left: 15px;
  z-index: -1;
  background: #000000;;
}

a{
  color:#bfbfbf;
}

textarea{
  position:absolute; 
  top: 500px;
  left: 15px;
  width: 700px;
  height: 300px;
  color: #000000;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 9pt;
  line-height: 1;
}

button{
  color: #000000;
  position:absolute; 
  top: 500px;
  left: 715px;
  width: 100px;
  height: 300px;
}